#container{
    
    display: flex;
    height: 50px;
}
.logo{
    width: 40%;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    
}
.nav{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
    background-color: aqua;
    margin-top: 0%;
    gap: 20px;    
    
}
.con{
   
   width: 20%;
   align-content: center;
   background-color: bisque;
}
button{
    border-radius: 8px;
    padding: 3px;
    margin-left:100px ;
    background-color: rgb(95, 129, 118);
    color: azure;
    
}
.asset{
    
    height: auto;
    display: flex;
    justify-content: center;
}
.nav>li>a{
    text-decoration: none;
}
