input[type=text], select{
    width: 100%;
    padding: 12px 20px;
    margin: 10px;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;

}
input[type=submit]{
    width: 100%;
    padding: 12px 20px;
    margin: 10px;
    display: inline-block;
    border-radius: 15px ;
    box-sizing: border-box;
    background-color: green;
    color: azure;
    border: none;
    cursor: pointer;
}
input[type=submit]:hover{
    background-color:red ;
}
div{
    border-radius: 20px;
    padding: 20px;
    background-color: #f2f2f2;
    margin: 20px;
}
h2{
    text-align: center;
}
