.a{
    width: 30%;
    height: 200px;
    background-color: blue;
    /* display: flex;
    justify-content: center; */
    margin: auto;
    background-repeat: no-repeat;
}
.a>img{
    margin: 0px 80px;
    width: 60%;
}
.b{
    display: flex;
    justify-content: space-between;
}
.p{
    background-color: aqua;
}
