body{
    background-color: #1a1a1a;
    margin: 0px;
    padding:0px;
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;

}

.a{
    background-color: aliceblue;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 60%;
    width: 40%;
    border-radius: 20px;
    border: 2px solid rgb(101, 126, 236);
    padding: 30px;
}
h3{
    color: rgb(170, 81, 40);
    text-align: center;
    margin-bottom: 20px;
    /* padding-bottom: 50px; */
    /* background-color: #251111; */
    padding: 10px;
}
form{
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-bottom: 10%;
    gap: 10px;
    
}
input{
    padding: 10px;
    border-radius: 5px;
}
button{
    padding: 10px;
    background-color: rgb(198, 213, 226);
    border-radius: 10px;
    
}
button:hover{
    background-color: rgb(144, 144, 224);
}